@import url('fonts.css');


@import url('variables.css');


/* --- Sección Componentes ---  */

.presentador {
    width: 100%;
    background-image: linear-gradient(to right, #850505, #a82525), url('https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}




/* --- MAIN --- */

.main__componentes {
    margin-top: 50px;
}

.sidebar {
    height: fit-content;
    position: sticky !important;
    top: 100px !important;
}

.sidebar hr {
    width: 80%;
    border-radius: 50% !important;
    margin: 10px auto;
}

.sidebar__secciones {
    width: 80%;
}

.sidebar__secciones ul {
    padding-left: 0;
}

.sidebar__secciones li {
    list-style-type: none;
    border-radius: 50px;
    margin: 5px 0;
    overflow: hidden;
}

.sidebar__secciones li.active {
    background: #972f2f !important;
}

.sidebar__secciones li.active a {
    color: #fff !important;
}

.sidebar__secciones li:hover {
    background: #f1f1f1;
}

.sidebar__secciones li a {
    width: 100%;
    height: 100%;
    padding: 7px 20px;
    display: inline-block;
    text-decoration: none;
    color: #972f2f;
}


.hero_componentes > h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.hero_componentes > h3 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.hero_componentes hr {
    width: 80%;
    margin: 30px auto;
    border-radius: 50%;
}


/* --- Cards --- */

.card_tramite {
    max-width: 352px !important;
    height: 111px;
    background: rgb(255, 255, 255);
    position: relative;
    border-radius: 4px;
    box-shadow: 3px 4px 4px #0004;
    cursor: pointer;
    transition: 0.4s;
}

.card_tramite a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000 !important;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card_tramite:hover {
    transform: scale(1.05);
}

.card_tramite img {
    width: 68px;
    height: 68px;
}

.card_tramite .card_tramite_info > * {
    margin: 0;
    padding: 0;
}

.card_tramite h3 {
    font-size: 19px;
    font-family: 'BrokmanBold';
}

.card_tramite p {
    font-size: 14px;
    font-family: 'BrokmanRegular';
}

.card_tramite .footer_card {
    width: calc(100% - 4px);
    height: 4px;
    border-radius: 4px;
    position: absolute;
    left: 2px;
    bottom: 2px;

    background-image: url('../../imgs/Grafica CIDI/CIDI 1.2/10-linea.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card_tramite .footer_card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}



/* --- Boton Menu --- */

.boton_extras {
    max-width: 260px;
    height: 60px;
    background: #fff;
    color: var(--pry-color);
    border: 1px solid var(--pry-color);
    border-radius: 4px;
    box-shadow: 3px 4px 4px #0004;
}

.boton_extras a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit !important;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.boton_extras h3 {
    margin: 0;
}

.boton_extras:hover {
    background: var(--pry-color);
    color: #fff;
}

.boton_extras:active {
    background: var(--sry-color);
    color: #fff;
}


.boton_extras .extra_iconos {
    width: 37px;
    height: 37px;
}

.boton_extras .extra_iconos img {
    width: 100%;
    height: 100%;
}

.boton_extras .extra_blanco {
    display: none;
}

.boton_extras:hover .extra_blanco {
    display: block;
}

.boton_extras:hover .extra_rojo {
    display: none;
}


/* --- Boton Crear Cuenta --- */

.boton_extras_cuenta {
    max-width: 260px;
    height: 60px;
    padding: 0 !important;
    background: #fff;
    color: var(--pry-color);
    border: 1px solid var(--pry-color);
    border-radius: 4px;
    box-shadow: 3px 4px 4px #0004;
    overflow: hidden;
}

.boton_extras_cuenta a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit !important;
    position: relative;

    
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
}

.boton_extras_cuenta h3 {
    margin: 0;
    font-size: 22px;
}

.boton_extras_cuenta:hover {
    background: var(--pry-color);
    color: #fff;
}

.boton_extras_cuenta:active {
    background: var(--sry-color);
    color: #fff;
    border: none;
    padding: 0 21px !important;
    padding-right: 0 !important;
}

.boton_extras_cuenta .card_cuenta_info {
    width: calc(100% - 58px);
    height: 100%;
    position: absolute;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boton_extras_cuenta .extra_iconos_cuenta {
    width: 58px;
    height: 100%;
    background: var(--pry-color);
    position: absolute;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boton_extras_cuenta:hover .extra_iconos_cuenta {
    background: #fff;
}

.boton_extras_cuenta .extra_iconos_cuenta img {
    width: 37px;
    height: 37px;
}

.boton_extras_cuenta .extra_cuenta_rojo {
    display: none;
}


.boton_extras_cuenta:hover .extra_cuenta_rojo {
    display: block;
}

.boton_extras_cuenta:hover .extra_cuenta_blanco {
    display: none;
}



/* --- Boton Icono Menu --- */

.boton_menu_icono {
    max-width: 300px !important;
    height: 73px;
    padding: 0 !important;
    padding-right: 0 !important;
    background: #fff;
    color: var(--pry-color);
    border-radius: 4px;
    box-shadow: 3px 4px 4px #0004;
    overflow: hidden;
    transition: 0.4s;
}

.boton_menu_icono {
    max-width: 91px !important;
}

.boton_menu_icono a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit !important;
    position: relative;

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
}

.boton_menu_icono h3 {
    margin: 0;
}


.boton_menu_icono .menu_iconos {
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boton_menu_icono .menu_iconos.active {
    position: relative;
}

.boton_menu_icono .menu_iconos.active::before {
    content: '';
    width: 7px;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    background: var(--pry-color);
}


.boton_menu_icono:hover .menu_iconos {
    background: var(--pry-color);
}

.boton_menu_icono .menu_iconos img {
    width: 37px;
    height: 37px;
}

.boton_menu_icono .menu_iconos_blanco {
    display: none;
}


.boton_menu_icono:hover .menu_iconos_blanco {
    display: block;
}

.boton_menu_icono:hover .menu_iconos_rojo {
    display: none;
}


/* --- Boton Sección Menu --- */

.menu_seccion_titulo {
    max-width: 288px !important;
    height: 73px;
    padding: 0 !important;
    padding-right: 0 !important;
    background: #fff;
    color: var(--pry-color);
    border-radius: 4px;
    box-shadow: 3px 4px 4px #0004;
    overflow: hidden;
}

.menu_seccion_titulo a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit !important;
    position: relative;

    
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* gap: 20px; */
}

.menu_seccion_titulo h3 {
    margin: 0;
    font-size: 22px;
}

.menu_seccion_titulo p {
    margin: 0;
    font-size: 18px;
}


.menu_seccion_titulo .menu_seccion {
    /* width: 100%;
    height: 100%; */
    margin: 0 20px !important;
    /* background: #fff; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_seccion_titulo.active {
    background: var(--pry-color);
    color: #fff !important;
}


.menu_seccion_titulo:hover {
    background: var(--pry-color);
    color: #fff;
}

.menu_seccion_titulo .menu_seccion img {
    width: 37px;
    height: 37px;
}

.menu_seccion_titulo .menu_seccion_blanco {
    display: none;
}

.menu_seccion_titulo.active .menu_seccion_blanco {
    display: block;
}

.menu_seccion_titulo.active .menu_seccion_rojo {
    display: none;
}


.menu_seccion_titulo:hover .menu_seccion_blanco {
    display: block;
}

.menu_seccion_titulo:hover .menu_seccion_rojo {
    display: none;
}


